- if address.full_name.present?
  = address.full_name.upcase
  %br
= address.address1.upcase
%br
- if address.address2.present?
  = address.address2.upcase
  %br
= [address.city.try(:upcase).presence, address.state_code.try(:upcase).presence, '&nbsp;' + address.postal_code.presence].compact.join('&nbsp;').html_safe
%br
= address.country.try(:upcase).to_s
