- if address.full_name.present?
  = address.full_name
  %br
= address.address1
%br
- if address.address2.present?
  = address.address2
  %br
= [address.city.presence, address.state.presence].compact.join(', ')
%br
= [address.country.presence, address.postal_code.presence].compact.join(', ')
