- if address.full_name.present?
  = address.full_name
  %br

- if defined?(email) && email.present?
  = mail_to(email)
  %br

= address.address1
%br

- if address.address2.present?
  = address.address2
  %br

- if address.try(:address3).present?
  = address.address3
  %br

= [address.city.presence, address.state_code.presence, '&nbsp;' + address.postal_code.presence].compact.join('&nbsp;').html_safe

%br
= address.country.to_s
